input[type="text"].ng-invalid,
input[type="password"].ng-invalid,
input[type="date"].ng-invalid,
input[type="number"].ng-invalid,
input[type="option"].ng-invalid,
input[type="select"].ng-invalid{
    border-left: 5px solid #ff0000;
    background-color: #FFEBD6;
}

input[type="text"].ng-valid,
input[type="password"].ng-valid,
input[type="date"].ng-valid,
input[type="number"].ng-valid,
input[type="option"].ng-invalid,
input[type="select"].ng-valid{
    background-color: #FFFFFF;
    border-left: 5px solid #088b0b;
}

input[type="text"]:disabled.ng-valid{
    background-color: #efefef;
    border: 1px solid #ccc;
}

.animate { 
    -webkit-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
} 
 
.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
    -webkit-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        
 
.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    height: 20px;
}

.customer-row{
    border-bottom:0px dashed #bbb; 
    padding-top:2px 0px;
}

.loading-dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    height: 120%;
    width: 20%;
    background: rgba( 12, 0, 0, .2 ) url('../images/loading1.gif') 100% 100% no-repeat;
    
}


/*.HierarchyBlock-hover{
    background-color: #E0F0FF;
    background-image: -webkit-linear-gradient(top, #E0F0FF 0%, #F8F8F8 25%, #E0F0FF 50%, #E0F0FF 100%);
    background-image:      -o-linear-gradient(top, #E0F0FF 0%, #F8F8F8 25%, #E0F0FF 50%, #E0F0FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E0F0FF), to(#F8F8F8));
    background-image:         linear-gradient(to bottom, #E0F0FF 0%, #F8F8F8 25%, #E0F0FF 50%, #E0F0FF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffE0F0FF', endColorstr='#ffF8F8F8', GradientType=0);
    background-repeat: repeat-x;
}*/

.ScrollBlock {
    overflow-y: scroll;
    overflow-x: hidden;
}

.ScrollBlockBoth {
    overflow-y: scroll;
    overflow-x: scroll;
}

.ScrollBlockhorizontal {
    overflow-y: hidden;
    overflow-x: scroll;
}

/* for scroll without a scrollbar visible  */
.ScrollBlockHidden {
    margin-right: 18px;
    overflow-x: scroll;
    -ms-overflow-style: none;
}

    .ScrollBlockHidden.history {
        margin-right: 0;
    }

    .ScrollBlockHidden::-webkit-scrollbar {
        display: none;
    }

.Invisible {
    display: none;
}

.panel-default2 {
    border-color: #eee;
}

    .panel-default2 > .panel-heading {
        color: #333;
        background-color: #e2e3e6;
        /*background-color: #e5e5e5;*/
        border-color: #eee;
    }

    .panel-default2 > .panel-body {
        background-color: #fdfdfd;
    }


