<div class="panel panel-primary ">
    <!--<div class="panel-heading">Customer Detail</div>-->
    <div class="panel-body ">


        <div class="row">
            <div class="col-sm-3">
                <img ng-src="{{customer.Image ? customer.Image : 'customerimages/default-image.png'}}"
                     class="img-circle"
                     style="max-width:30px"
                     alt='customer image' />
            </div>
            <div class="col-sm-9">
                <div style="font-weight:normal;">
                    <a ng-click="groupDetail(group.group_id)" style="cursor:pointer">{{group.group_desc}}</a>
                    <span class="pull-right" title="Delete group">
                        <i ng-click="deleteGroup($event, group.group_id)" class="glyphicon glyphicon-trash"></i>
                    </span>
                </div>
                <!--public string group_id { get; set; }
                public string group_desc { get; set; }
                public int group_min { get; set; }
                public int group_max { get; set; }
                public bool group_Servcie { get; set; }-->

                <!--<div>{{group.group_id}} {{group.group_desc}}</div>-->
            </div>
        </div>

    </div>
</div>
