<h1>{{pageTitle}}</h1>

<p>
        
    
    

</p>

<h2></h2>   
<p>{{message}} </p>

<p ng-bind="message"></p>

    <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-3">
            <div class="alert-info">
                <img ng-src="{{customer.Image ? customer.Image : 'customerimages/logo.png'}}"
                     class="img-circle"
                     style="max-width:150px"
                     alt='customer image' />
            </div>
         </div>
     


        </div>
</div>

 