<div class="container">
    <div class="row">
        <!--<div class="col-sm-4" style="left:-20px;">
            <h3>Search company</h3>
            <div class="input-group" >
                <input type="text" ng-model="searchText"  class="form-control" placeholder="Enter search text">
                <span class="input-group-addon" id="basic-addon">
                                                                    
                    <i class="glyphicon glyphicon-search" ng-click="searchAnyCompany()"></i>

                </span>

            </div>
        </div>-->


        

        <div class="col-sm-6">

        </div>
        <div class="col-sm-2">
            <button ng-click="addCompany()" class="btn btn-success btn-sm" ng-show="false">
                <i class="glyphicon glyphicon-plus"></i> Add Company 
            </button>
        </div>



    </div>
    <div class="row"> <p></p> </div>
    
    <div class="row">

        <div class="col-sm-3" style=" padding-top:3px; border:1px solid #999; max-height:450px; height:450px; overflow-y:scroll">

            <br />
            <div class="col-sm-12 " ng-repeat="company in companys">
                <as-company></as-company>
            </div>

        </div>
       
        <div class="col-sm-9" style="border:1px solid #999; max-height:450px; height:450px; ">

            <div ui-view></div>
            

        </div>
    
    </div>
</div>